:root {
  --pageColor: #00b289;
  --fonts: #4c4d5f;
  --whiteColor: #fff;
  --yellow: #f8db62;
  --left: 7rem;
  --right: 7rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {

  padding-right: var(--left);
  padding-left: var(--right);
  background: whitesmoke;
  min-height: 100vh;

}



/* small tablets  */


@media(max-width:767px) {


  .App {

    padding-right: 1rem;
    padding-left: 1rem;
    background: whitesmoke;
    min-height: 100vh;

  }


}