/* MidContent */

.midContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.titleMid {
    display: flex;
    justify-content: space-around;
    align-content: center;

}


.monthlyTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.monthlyB {
    display: flex;
    justify-content: center;
}


/* the card gallery */
.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 3rem;
}





/*  lower Card gallery */
.lowerMid {
    display: flex;
    flex-direction: column;
}


.lowshOne {
    align-self: center;
}


.cardOne {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.cardPara:nth-child(1) {
    margin-top: 4rem;
}

.cardPara {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    align-content: center;
}

.paraMoney {
    display: flex;
    flex-direction: column;

}

.paraMoney h1 {
    align-self: end;
    text-align: right;
}


.businessBanner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2FAFF;
    margin-top: 5.5rem;
    padding: 4rem;
    align-content: center;
    border-radius: 9px;

}

.businessBanner span {
    color: #00b289;

}

.businessBanner h1 {
    color: grey;
}

.businessBanner button {
    background: #00b289;
    border: none;
    outline: none;
    display: flex;
    height: 40px;
    align-self: center;
    padding: 1.5rem;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    font-weight: 600;
    color: white;
    justify-content: center;

}


.questionsAsk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5rem;
}

.ask {
    align-self: center;
    color: #00b289;
    font-weight: 300;

}

.policyask {
    padding-left: 12rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 3rem;
}